*{
margin:0px;
padding:0px;
}
@font-face{
src:url('BrandonGrotesqueLight.ttf');
font-family:'BGLight';
}
@font-face{
src:url('Lato-Lig.ttf');
font-family:'LatoLight';
}
@font-face{
src:url('OpenSans-Regular.ttf');
font-family:'OpenSans';
}
a{
text-decoration:none;
color:#333;
}
.container{
width:100%;
perspective:800px;
-webkit-perspective:800px;
}
.content_container{
width:100%;
}
.content_tabs{
width:100%;
}
.content_tab{
width:33%;
border:1px solid rgba(0,0,0,.08);
border-left:none;
border-right:3px solid #339ce1;
height:66px;
line-height:66px;
font-family:'LatoLight';
text-align:center;
font-size:17px;
color:#333;
float:left;
cursor:pointer;
}
.videos_content{
padding:64px 44px;
font-family:'BGLight';
font-size:15px;
clear:both;
}
.selected{
color:#fff;
background:#339ce1;
}
.video_container{
float:left;
width:240px;
margin-left:42px;
margin-bottom:18px;
height:230px;
cursor:pointer;
opacity:0;
-webkit-transform:translateY(100px);
-webkit-transition:all .2s ease;
}
.video_container_image{
height:80%;
width:100%;
}
.video_container_image img{
height:90%;
width:100%;
}
.video_container_title{
height:20%;
font-family:'BGLight';
font-size:16px;
width:100%;
text-align:center;
}


@-webkit-keyframes show_video{
to{
-webkit-transform:translateY(0px);
opacity:1;
}
}

.show_video{
-webkit-animation:show_video .5s ease forwards;
-webkit-transition:all .2s ease;
}

.video_container1{
-webkit-animation-delay:.3s;
}
.video_container2{
-webkit-animation-delay:.6s;
}
.video_container3{
-webkit-animation-delay:.9s;
}
.video_container4{
-webkit-animation-delay:1.2s;
}
.video_container5{
-webkit-animation-delay:1.5s;
}
.video_container6{
-webkit-animation-delay:1.8s;
}
.video_container7{
-webkit-animation-delay:2.1s;
}
.video_container8{
-webkit-animation-delay:2.4s;
}
.video_container9{
-webkit-animation-delay:2.7s;
}
.video_container10{
-webkit-animation-delay:2s;
}

.top_container{
height:72px;
line-height:72px;
font-family:'OpenSans';
text-align:center;
font-size:21px;
border-bottom:1px solid rgba(0,0,0,.09);
}
.left_content_container{
float:left;
width:36%;
}
.right_content_container{
float:left;
width:60%;
}
.left_content_image_container{
width:90%;
}
.left_content_image_container img{
width:100%;
}
.video_order_button{
background:#339ce1;
height:42px;
line-height:42px;
font-family:'LatoLight';
width:510px;
text-align:center;
border:none;
font-size:16px;
margin-bottom:14px;
color:#fff;
cursor:pointer;
}
.movie_content_container{
height:100%;
width:40%;
padding:2% 3%;
margin:5% 27%;
font-family:'LatoLight';
background:#fff;
overflow:hidden;
}
.payment_container{
font-family:'LatoLight';
font-size:24px;
padding-bottom:14px;
width:100%;
text-align:center;
}
.payment_list li{
font-family:'OpenSans';
font-size:15px;
padding:8px 0px;
}
.start_head ul{
padding:18px 0px;
margin-left:12%;
list-style-type:none;
}
.start_head ul li{
height:52px;
width:100%;
}
.start_head ul li label{
float:left;
width:35%;
height:52px;
font-family:'OpenSans';
line-height:42px;
}
.start_head ul li input[type="text"], .start_head ul li input[type="password"]{
float:left;
width:50%;
height:28px;
padding:3px;
}

.right_content_container, .left_content_container{
margin:27px 0px;
}
.left_content_container{
margin-left:2%;
}

.right_content_info_container{
font-family:'';
}
.right_content_info_container h4{
font-family:'OpenSans';
margin-top:14px;
}
.right_content_plot, .right_content_director, .right_content_stars{
font-family:'LatoLight';
padding:9px 0px;
}
.right_content_plot{
padding:13px 0px;
}
.right_content_head{
font-family:'OpenSans';
}
.top_back_link{
position:relative;
top:0px;
right:37%;
height:100%;
line-height:100%;
text-decoration:none;
color:#fff;
font-family:'LatoLight';
font-size:15px;
background:#339ce1;
padding:9px 25px;
}
.list_submit{
background:#339ce1;
color:#fff;
border:none;
font-family:'OpenSans';
padding:8px 19px;
margin:6% 34%;
cursor:pointer;
}
.start_head_start{
font-family:'LatoLight';
font-size:23px;
padding:13px 0px;
width:100%;
text-align:center;
}